<div class="container">
  <div class="row">
    <div class="col-sm-100 col-md-100 col-lg-10 mx-auto">
      <div class="card border-0 shadow rounded-9 my-9">
        <div class="card-body p-10 p-sm-9">
          <h2 class="card-title text-center mb-5 fw-light fs-5">
            Controle de produtos
          </h2>
          <form>
            <div class="form-group">
              <label for="nome">NOME</label>
              <input [(ngModel)]="produto.nome" type="text" name="nome" class="form-control" id="nome" placeholder="Informe o nome do produto">
            </div>

            <div class="form-group">
              <label for="preco">PREÇO</label>
              <input [(ngModel)]="produto.preco" name="preco" type="number" class="form-control" id="preco" placeholder="Informe o preço do produto">
            </div>
  
            <br>
            <div [ngSwitch]="opcao">
              <button *ngSwitchCase="'cad'" type="submit" (click)="cadastrar()" class="btn btn-lg btn-primary btn-block" >CADASTRAR</button>
              <button *ngSwitchCase="'edit'" type="submit" (click)="salvar()" class="btn btn-lg btn-primary btn-block" >SALVAR</button>
            </div>
          </form>
        </div>
  
        <div class="card-body p-10 p-sm-9">
          <div class="form-group">
            <label>Pesquisar</label>
            <input type="number" [(ngModel)]="idpesq" class="form-control">
            <br>
            <button (click)="busca()" class="btn btn-lg btn-primary">Buscar</button>
          </div>
        </div>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NOME</th>
              <th scope="col">VALOR</th>
              <th scope="col">OPÇÃO</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of produtos;">
              <th scope="row">{{prod.id}}</th>
              <th>{{prod.nome}}</th>
              <th>{{prod.preco}}</th>
              <th>
                <button class="btn btn-warning" (click)="editar(prod)">EDITAR</button>
                <button class="btn btn-danger" (click)="deletar(prod)">DELETAR</button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>