<div class="container">
    <div class="col-sm-100 col-md-100 col-lg-10 mx-auto">
        <img src="../../assets/imgs/banner.png  ">
        <div class="card-body p-10 p-sm-9">
            <br>
            <br>
            <h1>Projeto final</h1>
            <h3>Sistema para controle de funcionarios, clientes, produtos e registro de vendas</h3>
            <br>
            <h3>Backend em C# usando entity framework para fazer a conexão com o banco de dados</h3>
            <br>
            <h3>Frontend em angular com autenticação feita com json web token</h3>
        </div>
    </div>
</div>